input[type='submit'] {
  background-color:#ffcc00;
  cursor:pointer;
  color:#000;
  font-weight:bold;
  margin-bottom:50px;
  padding:10px;
  
}

input,label { 
  display:block;
  float:left;
  margin:5px;
  
}
