<div class="row">
    <h3 class="col-sm-offset-3 col-sm-6">Contact Information</h3>
</div>

<label> First Name: </label>
<input type="text" [(ngModel)]="firstname" name="firstname" placeholder="Enter Firstname" style="margin-bottom:10px" >
<label> Last Name: </label>
<input type="text" [(ngModel)]="lastname" name="lastname" placeholder="Enter Lastname" > 
<br>
<br>
<br>
<label> Phone: </label>
<input type="number" [(ngModel)]="phone" name="phone" placeholder="Enter Phone Number" style="margin-left:32px; margin-bottom:10px">
<label style="margin-left:32px"> Mobile: </label>
<input type="number" [(ngModel)]="mobile" name="mobile" placeholder="Enter Contact Number" style="margin-left:20px"> 
<br>
<br>
<br>
<label> E-mail: </label>
<input type="email" [(ngModel)]="email" name="email" placeholder="Enter E-mail" style="margin-left:32px; margin-bottom:10px" > 
<br>
<br>
<br>
<label> Address: </label>
<input type="text" [(ngModel)]="address" name="address" placeholder="Enter Address" style="margin-left:20px; margin-bottom:10px" >
<br>
<br>
<br>
<input type="submit" value="Submit" (click)="addPost()">
<br>
<br>
<br>
<ul *ngFor="let post of posts | async">
    <li (click)="getPost(post.id)">
      <strong>{{ post.data.title }} (<a href="#" (click)="deletePost(post.id)">delete</a>)</strong>
      <br>
      {{ post.data.content }}
    </li>
  </ul>
  
  <h1>A specific post:</h1>
  
  <h3>{{ (post | async)?.title }}</h3>
  <p>{{ (post | async)?.content }}</p>
  